.btn-primary{
    background: url('../img/button/main.png');
    background-size: 50% 100%!important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    padding-left: 4rem!important;
    padding-right: 4rem!important;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

@media (min-width: 768px){
    .btn-primary-sm{
        background: url('../img/button/main.png');
        background-size: 50% 100%!important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        padding-left: 1%!important;
        padding-right: 1%!important;
        padding-top: 8px!important;
        padding-bottom:  8px!important;
    }
}
.btn-disabled{
    background: url('../img/button/main-disabled.png');
    background-size: 50% 100%!important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    padding-left: 4rem!important;
    padding-right: 4rem!important;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
@media (max-width: 767px){
    .btn-primary-xs{
        background: url('../img/button/main.png');
        background-size: 25% 100%!important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        padding-left: 0.5%!important;
        padding-right: 0.5%!important;
        padding-top: 8px!important;
        padding-bottom:  8px!important;
    }
}
.btn-primary:hover{
    background: url('../img/button/main-hover.png');
}
.btn-primary:active{
    background: url('../img/button/main-click.png');
}
